name: Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup
        run: |
          cargo install wasm-pack
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test
      - name: Run integration tests
        run: (cd crates/integration-tests;sh run-tests.sh)
